<!DOCTYPE html> 
<head>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='82941939-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->


<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>-->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link href="css/bootstrap.css" rel="stylesheet" media="screen">
<link rel="stylesheet" href="css/bootstrap-switch.css">
<link href="css/style.css" rel="stylesheet" media="screen">

</head>

<body onload="run()">
	<div id="title-bar">
		<table style="width:100%">
			<tr>
			<td>
				<div id="backContainer">
				<img id="back" class="imgBtn" src="img/chevron-left.png"/>
				</div>
			</td>
			
			<td class="title">
				<h1>Edit Apps</h1>
			</td>
				
			<td class="menuCol">
				<div class="btn-group menu">
				<button class="btn"  data-toggle="dropdown" id="menuBtn">
				<i class="icon-th-list"></i>
				</button>
					<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu">
						<li><a tabindex="-1" href="/">Home</a></li>
						<li><a tabindex="-1" href="/help">Help</a></li>
						<li><a tabindex="-1" href="/login">Sign out</a></li>
					 </ul>
				</div>
				
			</td>
			</tr>
		</table>
	</div>

	<div id="contactspg" style="clear:both;">
		<p class="instr">Select apps to block</p>
		<table id="contactsList" style="width: 100%;">
		{{#each apps}}
		<tr>
		<td>
			<p class="appNames">{{appName}}</p>
		</td>
		<td>
			<label class="checkbox">
			  <input id="checkboxes" type="checkbox" value="">  
			</label>
		</td>
		
		</tr>
		{{/each}}
		</table>
		
		<div class="bottomrow">
			<button id="cancel" class="btn btn-default btn-large formBtn cancelBtn">Cancel</button>
			<button class="btn btn-primary btn-large formBtn saveBtn">Save</button>
		</div>
	</div>


    <script type="text/javascript">
	function run(){
		$('.btn').button();
		$('#back').click(function() {
			window.history.back(); 
		})
		$('#cancel').click(function() {
			window.history.back();
		});
		
		$('.saveBtn').click(function() {
			window.history.back();
		});
		
		ga("send", "event", "editing", "time");
	}
    </script>

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-switch.js"></script>
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-48619923-1', 'orangejuice.herokuapp.com'); 
	  ga('send', 'pageview');

	</script>
</body>

</html>
